<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swuorange.dao.BaseMapper">

	<delete id="delBaseById" parameterType="java.lang.Integer">
		delete from swu_base
		where base_id = #{baseId,jdbcType=INTEGER}
	</delete>

	<update id="updateBase" parameterType="com.swuorange.po.Base">
		UPDATE 
		  `swu_base` 
		SET
		  `base_name` = #{baseName},
		  `base_address` = #{baseAddress},
		  `base_header_id` = #{baseHeaderId},
		  `phone` = #{phone} 
		WHERE `base_id` = #{baseId}
	</update>
	<insert id="insertBase" parameterType="com.swuorange.po.Base">
		INSERT INTO `swu_base` (
		  `base_name`,
		  `base_address`,
		  `base_header_id`,
		  `companyinfo_id`,
		  `add_time`,
		  `phone`
		) 
		VALUES
		  (
		    #{baseName},
		    #{baseAddress},
		    #{baseHeaderId},
		    #{companyinfoId},
		    now(),
		    #{phone}
		  )
	</insert>


</mapper>